
@font-face {
    font-family: 'Gamtanroad Batang';
    src: url('gamtanroad-batang-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Batang';
    src: url('gamtanroad-batang-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Batang';
    src: url('gamtanroad-batang-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Dotum';
    src: url('gamtanroad-dotum-bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Dotum';
    src: url('gamtanroad-dotum-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Dotum';
    src: url('gamtanroad-dotum-thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Gamtan';
    src: url('gamtanroad-gamtan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gamtanroad Tantan';
    src: url('gamtanroad-tantan.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}